In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
data = pd.read_csv('D:\\DIAJAR\\data science\\Python\\machine learning\\ML\\2_linear_reg_multivariate\\Exercise\\hiring.csv')
data

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [17]:
data['experience'].fillna('zero', inplace=True)
data

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [24]:
data.fillna(int(data.iloc[:,1].median()), inplace=True)
data

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    8.0                           7      72000
7     eleven                    7.0                           8      80000

In [25]:
data['experience'].unique()

array(['zero', 'five', 'two', 'seven', 'three', 'ten', 'eleven'],
      dtype=object)

In [27]:
data.replace({'zero':0, 'five':5, 'two':2, 'seven':7, 'three':3, 'ten':10, 'eleven':11}, inplace=True)
data

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    8.0                           7      72000
7          11                    7.0                           8      80000

In [29]:
# regresi linear berganda y = m1x1 + m2x2 + m3x3 + b
reg = linear_model.LinearRegression()
reg.fit(data[['experience', 'test_score(out of 10)', 'interview_score(out of 10)']], data['salary($)'])
#                  x1               x2                         x3                            y

LinearRegression()

In [31]:
# m1 m2 m3
reg.coef_

array([2812.95487627, 1845.70596798, 2205.24017467])

In [33]:
# b
reg.intercept_

17737.263464337666

In [34]:
reg.predict([[2,9,6],[12,10,10]])

C:\Users\stern\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([53205.96797671, 92002.18340611])